@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Montserrat:wght@400;500;600&display=swap');

:root {
  --white: #ffffff;
  --dark: #121417;
  --secondary-text: #8a8a89;
  --blue: #3470ff;
  --dark-blue: #0b44cd;
  --light: #f7f7fb;
  --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--dark);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(18, 20, 23, 0.05);
}
